@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
@*for icon*@
<link rel="icon" href="~/_Images/favicon.ico" type="image/png" />
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
