@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@*for icon*@
<link rel="icon" href="~/_Images/favicon.ico" type="image/png" />
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
