@{
    Layout = "_AdminLayout";
}
<br />
<br />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .diagonal-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .diagonal-card {
        transform: translateY(-50%) rotate(-45deg);
        position: relative;
        top: 50%;
        margin: 30px;
    }
</style>

<div class="row diagonal-container">
    <div class="col-md-3 diagonal-card">
        <div class="card text-center bg-primary p-3">
            <h5 class="card-title text-center mb-4">Appointment</h5>
            <img src="~/images/appointment.jpg" alt="apointment image" class="img-fluid">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success">Book</button>
            </div>
        </div>
    </div>
    <div class="col-md-3 diagonal-card">
        <div class="card text-center bg-secondary p-3">
            <h5 class="card-title text-center mb-4">Dr Availability</h5>
            <img src="~/images/dr avail.png" alt="Dr Availability image" class="img-fluid">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success">Check</button>
            </div>
        </div>
    </div>
    <div class="col-md-3 diagonal-card">
        <div class="card text-center bg-primary p-3">
            <h5 class="card-title text-center mb-4">Appointment</h5>
            <img src="~/images/appointment.jpg" alt="apointment image" class="img-fluid">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success">Book</button>
            </div>
        </div>
    </div>
    <div class="col-md-3 diagonal-card">
        <div class="card text-center bg-secondary p-3">
            <h5 class="card-title text-center mb-4">Dr Availability</h5>
            <img src="~/images/dr avail.png" alt="Dr Availability image" class="img-fluid">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success">Check</button>
            </div>
        </div>
    </div>
    <div class="col-md-3 diagonal-card">
        <div class="card text-center bg-primary p-3">
            <h5 class="card-title text-center mb-4">Appointment</h5>
            <img src="~/images/appointment.jpg" alt="apointment image" class="img-fluid">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success">Book</button>
            </div>
        </div>
    </div>
    <div class="col-md-3 diagonal-card">
        <div class="card text-center bg-secondary p-3">
            <h5 class="card-title text-center mb-4">Dr Availability</h5>
            <img src="~/images/dr avail.png" alt="Dr Availability image" class="img-fluid">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success">Check</button>
            </div>
        </div>
    </div>
</div>
