@{
    Layout = "_Landing2";
}
<!DOCTYPE html>
<html>
<head>
    <h2>Doctor Availability </h2>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Availability Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dr. Zwide</td>
                    <td>Available</td>
                </tr>
                <tr>
                    <td>Dr. Khumalo</td>
                    <td>Unavailable</td>
                </tr>
                <tr>
                    <td>Dr. Mkhuba</td>
                    <td>Available</td>
                </tr>
                <!-- Add more doctors and availability statuses here -->
            </tbody>
        </table>

        <div class="form-row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-info">OK</button>
            </div>
        </div>
    </div>

</body>
</html>


