@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html>
    <head>
      <title>Patient Registration Form</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container mt-4">
          <h2>Patient Registration Form</h2>
          <form>
                <h3>Personal Details</h3>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <select class="form-control" id="title" name="title">
                                <option value="mr">Mr.</option>
                                <option value="mrs">Mrs.</option>
                                <option value="miss">Miss</option>
                                <option value="ms">Ms.</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="gender">Gender:</label>
                            <select class="form-control" id="gender" name="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="idNo">ID No:</label>
                            <input type="text" class="form-control" id="idNo" name="idNo" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="dob">Date of Birth:</label>
                            <input type="date" class="form-control" id="dob" name="dob" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cell">Cell:</label>
                            <input type="tel" class="form-control" id="cell" name="cell" required>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" class="form-control" id="address" name="address" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="occupation">Occupation:</label>
                            <input type="text" class="form-control" id="occupation" name="occupation">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="religion">Religion:</label>
                            <input type="text" class="form-control" id="religion" name="religion">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="language">Language:</label>
                            <input type="text" class="form-control" id="language" name="language">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="maritalStatus">Marital Status:</label>
                            <select class="form-control" id="maritalStatus" name="maritalStatus">
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                                <option value="divorced">Divorced</option>
                                <option value="widowed">Widowed</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="regNo">Registration Number:</label>
                            <input type="text" class="form-control" id="regNo" name="regNo" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="regDate">Registration Date:</label>
                            <input type="date" class="form-control" id="regDate" name="regDate" required>
                        </div>
                    </div>
                </div>

                <h3>Next of Kin</h3>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kinName">Name:</label>
                            <input type="text" class="form-control" id="kinName" name="kinName" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kinAddress">Address:</label>
                            <input type="text" class="form-control" id="kinAddress" name="kinAddress" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kinCell">Cell:</label>
                            <input type="tel" class="form-control" id="kinCell" name="kinCell" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kinRelationship">Relationship:</label>
                            <input type="text" class="form-control" id="kinRelationship" name="kinRelationship" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 offset-md-3">
                        <button type="submit" class="btn btn-success long-btn float-right">Register</button>
                    </div>
                </div>
          </form>
        
        </div>
    </body>
</html>