@{
    ViewData["Title"] = " Vaccination Dashaboard";
}
@{
    Layout = "Vaccs";
}
@using Microsoft.AspNetCore.Identity
@using Qumbu_Community_Health_Care_Center.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    .col-2 {
        background: rgba( 86, 89, 209, 0.2 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 16.5px );
        -webkit-backdrop-filter: blur( 16.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 10px;
        text-align: center;
        margin-right: 10px; /* Add margin between div containers */
    }

        /* Remove right margin from the last .col-2 element */
        .col-2:last-child {
            margin-right: 0;
        }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.16.0/font/bootstrap-icons.css">
</head>

<div class="container mt-3">
    <div class="row">
    <div class="col-12">
        @if (User.IsInRole("Patient"))
        {
                <style>
                    #dash-con {
                        background: rgba(39, 178, 245, 0.8);
                        box-shadow: 0 8px 32px 0 rgba(21, 88, 119, 0.87);
                        backdrop-filter: blur( 0px );
                        -webkit-backdrop-filter: blur( 0px );
                        border-radius: 10px;
                        border: 1px solid rgba( 255, 255, 255, 0.18 );
                    }

                        #dash-con:hover {
                            background: rgba( 0, 42, 255, 1 );
                            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                            backdrop-filter: blur( 20px );
                            -webkit-backdrop-filter: blur( 20px );
                            border-radius: 10px;
                            border: 1px solid rgba( 255, 255, 255, 0.18 );
                        }
                </style>


                <div class="container-fluid pt-4 px-4">

                    <div class="row g-4">
                        <div class=" col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                                <img src="~/_Images/Contr.png" style="width: 85px" />
                                <a asp-controller="Appointments" asp-action="All_Appointments">
                                    <h5 class="mb-2">Appointments<span class="badge bg-primary rounded-pill text-white"></span></h5>

                                </a>
                            </div>
                        </div>


                        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                                <img src="~/_Images/Fscreen.png" style="width: 90px" />
                                <a asp-controller="Vaccs" asp-action="IndexScree">
                                    <h5 class="mb-2">Screening<span class="badge bg-primary rounded-pill text-white"></span></h5>

                                </a>
                            </div>
                        </div>


                        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            <div id="dash-con" class=" dash-con rounded d-flex align-items-center justify-content-between p-4">
                                <img src="~/_Images/FFBACK.png" style="width: 105px" />
                                <a asp-controller="Vaccs" asp-action="IndexEducation">
                                    <h5 class="mb-2">Vaccine Information & Education<span class="badge bg-primary rounded-pill text-white"></span></h5>

                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                                <img src="~/_Images/menstrualCycle.png" style="width: 70px" />
                                <a asp-controller="Vaccs" asp-action="IndexFeedback">
                                    <h5 class="mb-2">Feedback<span class="badge bg-primary rounded-pill text-white"></span></h5>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
           
        }
        @if (User.IsInRole("Nurse"))
        {
                <style>
                    #dash-con {
                        background: rgba(39, 178, 245, 0.8);
                        box-shadow: 0 8px 32px 0 rgba(21, 88, 119, 0.87);
                        backdrop-filter: blur( 0px );
                        -webkit-backdrop-filter: blur( 0px );
                        border-radius: 10px;
                        border: 1px solid rgba( 255, 255, 255, 0.18 );
                    }

                        #dash-con:hover {
                            background: rgba( 0, 42, 255, 1 );
                            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                            backdrop-filter: blur( 20px );
                            -webkit-backdrop-filter: blur( 20px );
                            border-radius: 10px;
                            border: 1px solid rgba( 255, 255, 255, 0.18 );
                        }
                </style>


                <div class="container-fluid pt-4 px-4">

                    <div class="row g-4">
                        <div class=" col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                                <img src="~/_Images/Contr.png" style="width: 85px" />
                                <a asp-controller="Vaccs" asp-action="Record">
                                    <h5 class="mb-2">Patient Records<span class="badge bg-primary rounded-pill text-white"></span></h5>

                                </a>
                            </div>
                        </div>


                        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                                <img src="~/_Images/Fscreen.png" style="width: 90px" />
                                <a asp-controller="Vaccs" asp-action="IndexScree">
                                    <h5 class="mb-2">Screening<span class="badge bg-primary rounded-pill text-white"></span></h5>

                                </a>
                            </div>
                        </div>


                        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            <div id="dash-con" class=" dash-con rounded d-flex align-items-center justify-content-between p-4">
                                <img src="~/_Images/FFBACK.png" style="width: 105px" />
                                <a asp-controller="Vaccs" asp-action="IndexEducation">
                                    <h5 class="mb-2">Vaccine Information & Education<span class="badge bg-primary rounded-pill text-white"></span></h5>

                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                                <img src="~/_Images/menstrualCycle.png" style="width: 70px" />
                                <a asp-controller="Vaccs" asp-action="IndexFeedback">
                                    <h5 class="mb-2">Feedback<span class="badge bg-primary rounded-pill text-white"></span></h5>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>

        }
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

