@model Qumbu_Community_Health_Care_Center.Models.ScreeningTool
@{
    Layout = "Vaccs";
}


<div class="mx-0 mx-sm-auto">
    <div class="card">
        <div class="card-header bg-primary">
            <h5 class="card-title text-white mt-2" id="exampleModalLabel">Feedback request</h5>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
                <p>
                    <strong>Your opinion matters</strong>
                </p>
                <p>
                    Have some ideas how to improve our product?
                    <strong>Give us your feedback.</strong>
                </p>
            </div>

            <hr />

            <form class="px-4" action="">
                <p class="text-center"><strong>Your rating:</strong></p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example1" />
                    <label class="form-check-label" for="radio3Example1">
                        Very good
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example2" />
                    <label class="form-check-label" for="radio3Example2">
                        Good
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example3" />
                    <label class="form-check-label" for="radio3Example3">
                        Medicore
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example4" />
                    <label class="form-check-label" for="radio3Example4">
                        Bad
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example5" />
                    <label class="form-check-label" for="radio3Example5">
                        Very bad
                    </label>
                </div>

                <p class="text-center"><strong>What could we improve?</strong></p>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                    <label class="form-label" for="form4Example3">Your feedback</label>
                </div>
            </form>
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
@*    <div class="mx-0 mx-sm-auto">
        <div class="card w-75">
            <div class="card-body">

            <form class="px-2" action="">
                <input asp-for="ID" hidden />
                <div class="border p-3">
                    <div class="form-group row">
                        <h2 class="text-opacity-50 pl-3">FEEDBACK</h2>
                    </div>
                <p class="text-center fw-bold"><strong>How do you rate customer support:</strong></p>

                <ul class="h2 rating justify-content-center pb-3" data-mdb-toggle="rating">
                    <li>
                        <i class="far fa-star fa-sm text-primary" title="Bad"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary" title="Poor"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary" title="OK"></i>
                    </li>
                    <li>
                        <i class="far fa-star  text-primary" title="Good"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                    </li>
                </ul>

                <p class="text-center"><strong>What could we improve?</strong></p>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example6" rows="4"></textarea>
                    <label class="form-label" for="form4Example6">Your feedback</label>
                </div>
                </div>
            </form>

            </div>
        </div>
    </div>*@
