@model Qumbu_Community_Health_Care_Center.Models.FeedbackV
@{
    Layout = "Vaccs";
}

@if (User.IsInRole("Patient"))
{
     <div class="mx-0 mx-sm-auto">
        <div class="card">
            <div class="card-header bg-primary">

                <h5 class="card-title text-white mt-2" id="exampleModalLabel">Feedback request</h5>
            </div>
            <div class="modal-body">
                <div class="border p-3" @* style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgVBTQDFavmfdWftDThY_tcu47ntl-n7M90Q&usqp=CAU');" *@>
                    <div class="text-center">
                        <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
                        <h4>
                            <strong>Your opinion matters</strong>
                        </h4>
                        <h4>
                            Have some ideas how to improve our service?
                            <strong>Give us your feedback.</strong>
                        </h4>
                    </div>
                </div>

                <hr />
                <form method="post" asp-action="IndexScree">
                    <div class="border p-3 #FBD603">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@
                        <div class="form-group row">
                            <h2 class="text-black-50 pl-3">FEEDBACK REQUEST</h2>
                        </div>
                        <div class="row">
                                <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="Name"></label>@*These names come from our properties in the model *@
                                                    <input asp-for="Name" class="form-control box mb-2" type="text" placeholder="Type your name here" />
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Surname"></label>
                                                    <input asp-for="Surname" class="form-control" />
                                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                                </div>
                                        @* <div class="form-group row">
                                            <h2 class="text-black-50 pl-3">HHJKN</h2>
                                        </div> *@
                               
                                <h4 class="text-center">YOUR RATING:</h4>

                                @*  <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example1" />
                            <h4>
                                <label class="form-check-label" for="radio3Example1">
                                    Very good
                                </label>
                            </h4>
                        </div> *@
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example1" />
                                    <h4>
                                        <label asp-for="rating1"></label>
                                    </h4>
                                    
                                    
                                    @* <input asp-for="rating1" class="form-check-input"  />
                                    <span asp-validation-for="rating1" class="text-danger"></span> *@                                 
                                </div>
                                <div class="col-4">
                                    <label asp-for="rating2"></label>
                                    <input asp-for="rating2" class="form-control" />
                                    <span asp-validation-for="rating2" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="rating3"></label>
                                    <input asp-for="rating3" class="form-control" />
                                    <span asp-validation-for="rating3" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="rating4"></label>
                                    <input asp-for="rating4" class="form-control" />
                                    <span asp-validation-for="rating4" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="rating5"></label>
                                    <input asp-for="rating5" class="form-control" />
                                    <span asp-validation-for="rating5" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="Comment"></label>
                                    <input asp-for="Comment" class="form-control" />
                                    <span asp-validation-for="Comment" class="text-danger"></span>
                                </div>

                                <div class="form-group row">
                                    <div class="col-8 offset-2 row">
                                        <div class="col">
                                            <input type="submit" class="btn btn-info w-75 bi bi-arrow-left-circle" value="SUBMIT" />
                                        </div>
                                        <div class="col">
                                            <a asp-action="Index" class="btn btn-danger w-75"><i class="bi bi-arrow-left-circle"></i>BACK</a>
                                        </div>
                                    </div>
                                </div>

                                @*  </div> *@
                        </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-end">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
}
@* @if (User.IsInRole("Doctor"))
{
    <div class="mx-0 mx-sm-auto">
        <div class="card">
            <div class="card-header bg-primary">

                <h5 class="card-title text-white mt-2" id="exampleModalLabel">Feedback request</h5>
            </div>
            <div class="modal-body">
                <div class="border p-3" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgVBTQDFavmfdWftDThY_tcu47ntl-n7M90Q&usqp=CAU');">
                    <div class="text-center">
                        <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
                        <h4>
                            <strong>Your opinion matters</strong>
                        </h4>
                        <h4>
                            Have some ideas how to improve our service?
                            <strong>Give us your feedback.</strong>
                        </h4>
                    </div>
                </div>

                <hr />

                <form method="post" asp-action="IndexFee">
                    <input asp-for="ID" hidden />
                    <div class=" bg-info">
                        <h4 class="text-center">Your rating:</h4>

                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example1" />
                            <h4>
                                <label class="form-check-label" for="radio3Example1">
                                    Very good
                                </label>
                            </h4>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example2" />
                            <h4>
                                <label class="form-check-label" for="radio3Example2">
                                    Good
                                </label>
                            </h4>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example3" />
                            <h4>
                                <label class="form-check-label" for="radio3Example3">
                                    Medicore
                                </label>
                            </h4>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example4" />
                            <h4>
                                <label class="form-check-label" for="radio3Example4">
                                    Bad
                                </label>
                            </h4>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example5" />
                            <h4>
                                <label class="form-check-label" for="radio3Example5">
                                    Very bad
                                </label>
                            </h4>
                        </div>

                        <h4 class="text-center">What could we improve?</h4>

                        <!-- Message input -->
                        <div>
                            <textarea class="form-control" placeholder="type your comment here" id="form4Example3" rows="4"></textarea>
                            <h4><label class="form-label" for="form4Example3">Your feedback</label></h4>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-end">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
} *@
@if (User.IsInRole("Doctor"))
{
    <h1>Admin</h1>
}


@*<div class="mx-0 mx-sm-auto">
    <div class="card">
        <div class="card-header bg-primary">
            
            <h5 class="card-title text-white mt-2" id="exampleModalLabel">Feedback request</h5>
        </div>
        <div class="modal-body">
            <div class="border p-3" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgVBTQDFavmfdWftDThY_tcu47ntl-n7M90Q&usqp=CAU');">
            <div class="text-center">
                <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
                <h4>
                    <strong>Your opinion matters</strong>
                </h4>
                <h4>
                    Have some ideas how to improve our service?
                    <strong>Give us your feedback.</strong>
                </h4>
            </div>
            </div>

            <hr />

            <form method="post" asp-action="IndexFee">
                <input asp-for="ID" hidden />
               <div class=" bg-info">
                <h4 class="text-center">Your rating:</h4>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example1" />
                    <h4><label class="form-check-label" for="radio3Example1">
                        Very good
                    </label></h4>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example2" />
                    <h4><label class="form-check-label" for="radio3Example2">
                        Good
                    </label></h4>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example3" />
                    <h4><label class="form-check-label" for="radio3Example3">
                        Medicore
                    </label></h4>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example4" />
                    <h4><label class="form-check-label" for="radio3Example4">
                        Bad
                    </label></h4>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example5" />
                    <h4><label class="form-check-label" for="radio3Example5">
                        Very bad
                    </label></h4>
                </div>
                  
                    <h4 class="text-center">What could we improve?</h4>
                       
                <!-- Message input -->
                <div>
                    <textarea class="form-control" placeholder="type your comment here" id="form4Example3" rows="4"></textarea>
                    <h4><label class="form-label" for="form4Example3">Your feedback</label></h4>
                </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>*@






@*    <div class="mx-0 mx-sm-auto">
        <div class="card w-75">
            <div class="card-body">

            <form class="px-2" action="">
                <input asp-for="ID" hidden />
                <div class="border p-3">
                    <div class="form-group row">
                        <h2 class="text-opacity-50 pl-3">FEEDBACK</h2>
                    </div>
                <p class="text-center fw-bold"><strong>How do you rate customer support:</strong></p>

                <ul class="h2 rating justify-content-center pb-3" data-mdb-toggle="rating">
                    <li>
                        <i class="far fa-star fa-sm text-primary" title="Bad"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary" title="Poor"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary" title="OK"></i>
                    </li>
                    <li>
                        <i class="far fa-star  text-primary" title="Good"></i>
                    </li>
                    <li>
                        <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                    </li>
                </ul>

                <p class="text-center"><strong>What could we improve?</strong></p>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example6" rows="4"></textarea>
                    <label class="form-label" for="form4Example6">Your feedback</label>
                </div>
                </div>
            </form>

            </div>
        </div>
    </div>*@
