@model Qumbu_Community_Health_Care_Center.Models.Vaccine_MadicalRecord

@{
    Layout = "Vaccs";
}
@if (User.IsInRole("Nurse"))
{
    <div class="mx-0 mx-sm-auto">
        <div class="card w-75">
            <div class="card-body ">
                <div class="card-header bg-primary">

                    <h3 class="card-title text-white mt-2" id="exampleModalLabel"> Make RECORDS</h3>
                </div>
                <form method="post" asp-action="Records">
                    <div class="border p-3 #FBD603">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@
                        @*  <div class="form-group row">
                    <h2 class="text-black-50 pl-3">SCREENING TOOL</h2>
                    </div> *@
                        <div class="row">

                            <div class="form-group">

                                <div class="col-12">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-6">
                                                <h3><label asp-for="BloodPressure" row="4"></label></h3>
                                                <input asp-for="BloodPressure" class="form-control" type="text" placeholder="Type your comment here....." row="4" />
                                                <span asp-validation-for="BloodPressure" class="text-danger" row="4"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-6">
                                                <h3><label asp-for="Temperature" row="4"></label></h3>
                                                <input asp-for="Temperature" class="form-control" type="text" placeholder="Type your comment here....." row="4" />
                                                <span asp-validation-for="Temperature" class="text-danger" row="4"></span>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <h3><label asp-for="HeartRate" row="4"></label></h3>
                                            <input asp-for="HeartRate" class="form-control" type="text" placeholder="Type your comment here....." row="4" />
                                            <span asp-validation-for="HeartRate" class="text-danger" row="4"></span>
                                        </div>

                                        <div class="col-6">
                                            <h3><label asp-for="Date" row="4"></label></h3>
                                            <input asp-for="Date" class="form-control" type="text" placeholder="Type your comment here....." row="4" />
                                            <span asp-validation-for="Date" class="text-danger" row="4"></span>
                                        </div>

                                        <div class="col-6">
                                            <h3><label asp-for="Weight" row="4"></label></h3>
                                            <input asp-for="Weight" class="form-control" type="text" placeholder="Type your comment here....." row="4" />
                                            <span asp-validation-for="Weight" class="text-danger" row="4"></span>
                                        </div>

                                        <div class="col-6">
                                            <h3><label asp-for="dose1" row="4"></label></h3>
                                            <input asp-for="dose1" class="form-control" type="text" placeholder="Type your comment here....." row="4" />
                                            <span asp-validation-for="dose1" class="text-danger" row="4"></span>
                                        </div>

                                        <div class="col-6">
                                            <h3><label asp-for="dose2" row="4"></label></h3>
                                            <input asp-for="dose2" class="form-control" type="text" placeholder="Type your comment here....." row="4" />
                                            <span asp-validation-for="dose2" class="text-danger" row="4"></span>
                                        </div>

                                        <div class="col-6">
                                            <h3><label asp-for="dose3" row="4"></label></h3>
                                            <input asp-for="dose3" class="form-control" type="text" placeholder="Type your comment here....." row="4" />
                                            <span asp-validation-for="dose3" class="text-danger" row="4"></span>
                                        </div>

                                    </div>
                                </div>                              
                                <div class="form-group row">
                                    <div class="col-8 offset-2 row">
                                        <div class="col">
                                            <input type="submit" class="btn btn-info w-75 bi bi-arrow-left-circle" value="SUBMIT" />
                                        </div>
                                        <div class="col">
                                            <a asp-action="IndexScree" class="btn btn-danger w-75"><i class="bi bi-arrow-left-circle"></i>BACK</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
}