@{
    Layout = "_CounsellorLayout";
}
@if (User.IsInRole("Admin"))
{
    <h1>Admin</h1>
}
@if (User.IsInRole("Nurse"))
{
    <h1>Nurse</h1>
}
@if (User.IsInRole("Doctor"))
{
    <h1>Doctor</h1>
}
@if (User.IsInRole("Patient"))
{
    <h1>Patient</h1>
}
@if (User.IsInRole("Unit-Manager"))
{
    <h1>Manager</h1>
}
@if (User.IsInRole("Counsellor"))
{
    <br/>
<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="SearchStyle.css">
</head>
<body>
    <div class="search-container align-centre">
        <input type="text" id="search-input" placeholder="Search...">
        <button type="button" id="search-button">Search</button>
    </div>

    <div id="search-results">
        
    </div>

    <script src="script.js"></script>
</body>
</html>
<br />
<img src="~/_Images/mettaworldpeace1.jpg" width="1050" height="300" alt="#">
<br />
}
