@model Qumbu_Community_Health_Care_Center.Models.Bookings
@{
	Layout = "_CounsellorLayout";
}
	<form method="post" asp-action="Create">
		<div class="border p-5">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<br />
			<div class="form-group row">
				<h2 class="text-black-50 pl-3">Patient Details</h2>
			</div>
			<div class="row">
			<div class="card" style="width: 18rem; height: 250px">
				<img class="img-responsive rounded-circle" width="150" height="150" src="~/images/Profile-Photo.png" alt="#" />
			</div>
			<div class="card" style="width: 18rem; height: 250px">
				<div class="col-md-3">
					<div class="form-group">
						<label for="memberName">Counselling Remarks:</label>
						@*<input type="text" class="form-control" id="memberName" placeholder=" ">*@
					</div>
					
					<div class="form-group row">
						<div class="col-4 offset-2 row">
							<div class="col">
								<a asp-action="Record" class="btn btn-info w-60">View History</a>
							</div>
							<br />
							<div class="col">
								<a asp-action="CreateP" class="btn btn-info w-60">Start Counselling</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<br />
			@*<div class="card">
				<div class="card-body">
					<h5>Visits</h5>
				</div>
			</div>*@
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						@*<div class="col-4">
							<label asp-for="Names"></label>
							<input asp-for="Names" class="form-control" />
							<span asp-validation-for="Names" class="text-danger"></span>
						</div>
						<div class="col-4">
							<label asp-for="Date"></label>
							<input asp-for="Date" class="form-control" />
							<span asp-validation-for="Date" class="text-danger"></span>
						</div>
						<div class="col-4">
							<label asp-for="Time"></label>
							<input asp-for="Time" class="form-control" />
							<span asp-validation-for="Time" class="text-danger"></span>
						</div>
						<div class="col-4">
							<label asp-for="Contact"></label>
							<input asp-for="Contact" class="form-control" />
							<span asp-validation-for="Contact" class="text-danger"></span>
						</div>*@
						<div class="col-md-3">
							<div class="form-group">
								<label for="validityPeriod">Purpose:</label>
								<select id="GenderDropdown" asp-for="Departments" class="form-control" id="validationName" required>
									<option value="Select" class="bg-opacity-50">Select</option>
									<option value="Vac">Excuse Letter</option>
									<option value="Pre"></option>
									<option value="Fam"></option>
									<option value="Coun"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-4 offset-2 row">
					<div class="col">
						<input type="submit" class="btn btn-info w-75" value="Submit" />
					</div>
					<div class="col">
						<a asp-action="Profile" class="btn btn-info w-75">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</form>

