@model Qumbu_Community_Health_Care_Center.Models.Referral

@{
    Layout = "_CounsellorLayout";
}
<form method="post" asp-action="CreateF">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Referred Patients</h2>
        </div>
        <div class="container mt-8">
            <div class="card">
                <div class="card-header bg-secondary-emphasis">
                    <h5 class="card-title">Referred Patients</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="validityPeriod">Patient Name</label>
                                <select id="GenderDropdown" asp-for="PatientName" class="form-control" id="validationName" required>
                                    <option value="Select" class="bg-opacity-50">Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="validityPeriod">Departments</label>
                                <select id="GenderDropdown" asp-for="Departments" class="form-control" id="validationName" required>
                                    <option value="Select" class="bg-opacity-50">Select</option>
                                    <option value="Vac">Vaccination</option>
                                    <option value="Pre">Pre-Natal</option> 
                                    <option value="Fam">Family Plan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="address">Remarks</label>
                                <textarea class="form-control" id="address" rows="4" placeholder="Enter remarks"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6 offset-2 row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-75" value="Submit" />
                    </div>
                    <div class="col">
                        <a asp-action="Referral" class="btn btn-danger w-75">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


