@model Qumbu_Community_Health_Care_Center.Models.PatientReg
@{
    Layout = "_CounsellorLayout";
}

<form method="post" asp-action="CreateR">
	<div class="border p-3">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group row">
			<h2 class="text-black-50 pl-3">If you are new, please register</h2>
		</div>
        <div class="container mt-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="card-title">Peronal Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="memberName">Full Names</label>
                                <input type="text" class="form-control" id="memberName" placeholder="Enter your names">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="memberName">Cell</label>
                                <input type="text" class="form-control" id="memberName" placeholder="Enter your cell no">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="memberName">Email</label>
                                <input type="text" class="form-control" id="memberName" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="validityPeriod">Gender</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validityPeriod" placeholder="Select Gender"
                                           readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Male</a>
                                            <a class="dropdown-item" href="#">Female</a>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dateOfBirth">D.O.B</label>
                                <input type="date" class="form-control" id="dateOfBirth">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="address">Address:</label>
                                <textarea class="form-control" id="address" rows="4" placeholder="Enter Address"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="validityPeriod">Marital Status</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validityPeriod" placeholder="Select"
                                           readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Single</a>
                                            <a class="dropdown-item" href="#">Married</a>
                                            <a class="dropdown-item" href="#">Devorced</a>
                                            <a class="dropdown-item" href="#">Widowed/widower</a>
                                            <a class="dropdown-item" href="#">Other</a>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="validityPeriod">Province</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validityPeriod" placeholder="Select Province"
                                           readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Eastern Cape</a>
                                            <a class="dropdown-item" href="#">Mpumalanga</a>
                                            <a class="dropdown-item" href="#">Gauteng</a>
                                            <a class="dropdown-item" href="#">Free State</a>
                                            <a class="dropdown-item" href="#">North West</a>
                                            <a class="dropdown-item" href="#">Kwazulu-Natal</a>
                                            <a class="dropdown-item" href="#">Western Cape</a>
                                            <a class="dropdown-item" href="#">Northern Cape</a>
                                            <a class="dropdown-item" href="#">Limpopo</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="validityPeriod">Race</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validityPeriod" placeholder="Select Race"
                                           readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Black</a>
                                            <a class="dropdown-item" href="#">White</a>
                                            <a class="dropdown-item" href="#">Indian</a>
                                            <a class="dropdown-item" href="#">Colored</a>
                                            <a class="dropdown-item" href="#">Mixed Raced</a>
                                            <a class="dropdown-item" href="#">Otherl</a>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="container mt-4">
            <div class="card">
                <div class="card-header  bg-secondary">
                    <h5 class="card-title">Next of Kin</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="memberName">Next of kin's Names</label>
                                <input type="text" class="form-control" id="memberName" placeholder="Enter Names">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="memberName">Cell</label>
                                <input type="text" class="form-control" id="memberName" placeholder="Enter Cell no">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address">Address:</label>
                                <textarea class="form-control" id="address" rows="4" placeholder="Enter address"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validityPeriod">Province</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validityPeriod" placeholder="Select"
                                           readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Eastern Cape</a>
                                            <a class="dropdown-item" href="#">Mpumalanga</a>
                                            <a class="dropdown-item" href="#">Gauteng</a>
                                            <a class="dropdown-item" href="#">Free State</a>
                                            <a class="dropdown-item" href="#">North West</a>
                                            <a class="dropdown-item" href="#">Kwazulu-Natal</a>
                                            <a class="dropdown-item" href="#">Western Cape</a>
                                            <a class="dropdown-item" href="#">Northern Cape</a>
                                            <a class="dropdown-item" href="#">Limpopo</a>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="validityPeriod">Relationship</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="validityPeriod" placeholder="Select relation"
                                       readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Mother</a>
                                        <a class="dropdown-item" href="#">Father</a>
                                        <a class="dropdown-item" href="#">Brother</a>
                                        <a class="dropdown-item" href="#">Gaurdian</a>
                                        <a class="dropdown-item" href="#">Sister</a>
                                        <a class="dropdown-item" href="#">Other</a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-secondary">
                <h5 class="card-title">Health Information</h5>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="validityPeriod">Referral Source</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="validityPeriod" placeholder="Select source"
                                       readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Friend</a>
                                        <a class="dropdown-item" href="#">Relative</a>
                                        <a class="dropdown-item" href="#">Teacher</a>
                                        <a class="dropdown-item" href="#">Nurse</a>
                                        <a class="dropdown-item" href="#">Other</a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="validityPeriod">Previous Counselling Experience</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="validityPeriod" placeholder="Select"
                                       readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Yes</a>
                                        <a class="dropdown-item" href="#">No</a>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="validityPeriod">Medical & Mental Health</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="validityPeriod" placeholder="Select"
                                       readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Not Healthy</a>
                                        <a class="dropdown-item" href="#">Nuetral</a>
                                        <a class="dropdown-item" href="#">other</a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="validityPeriod">Current Medication</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="validityPeriod" placeholder="Select"
                                       readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Yes</a>
                                        <a class="dropdown-item" href="#">No</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Family History</label>
                            <textarea class="form-control" id="address" rows="4" placeholder="Enter your history"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="validityPeriod">Preferred Communication & Consent</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="validityPeriod" placeholder="Select"
                                       readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Call</a>
                                        <a class="dropdown-item" href="#">SMS</a>
                                        <a class="dropdown-item" href="#">Email</a>
                                        <a class="dropdown-item" href="#">In person</a>
                                        <a class="dropdown-item" href="#">Other</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="validityPeriod">Current Stressors</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="validityPeriod" placeholder="Select"
                                       readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Family</a>
                                        <a class="dropdown-item" href="#">Money</a>
                                        <a class="dropdown-item" href="#">School</a>
                                        <a class="dropdown-item" href="#">Health</a>
                                        <a class="dropdown-item" href="#">Other</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
				<div class="form-group row">
					<div class="col-8 offset-2 row">
						<div class="col">
							<input type="submit" class="btn btn-info w-75" value="Submit" />
						</div>
						<div class="col">
							<a asp-action="Patient" class="btn btn-danger w-75">Back</a>
						</div>
					</div>
				</div>

</form>

