@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.Referral>
@{
    Layout = "_CounsellorLayout";
}
<div class="mt-2 p-2 bg-white text-center text-white-50 rounded">
    <h2>Referred Patient</h2>
</div>
<div class="container-fluid">
    <div class="row pt-4">
       
        @*<div class="col-6 text-right">
            <a asp-controller="Counseller" asp-action="CreateF" class="btn btn-info">Referr Patient</a>
        </div>*@
        <div class="col-6 text-left">
            <a asp-controller="Counseller" asp-action="CreateF" class="btn btn-info">Go Back</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table id="Mytable" table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Departments
                    </th>
                    <th>
                        Remarks
                    </th>
                   
            </thead>

            <tbody>
                @foreach (var referrals in Model)
                {
                    <tr>
                        <td width="30%">@referrals.PatientName</td>
                        <td width="30%">@referrals.Departments</td>
                        <td width="30%">@referrals.Remarks</td>
                        <td>
                            <div class="w-50 btn-group" role="group">
                                <a asp-controller="Counseller" asp-action="DeleteRef" asp-route-ID="@referrals.ReferralID" class="btn btn-info mx-1">Remove</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No referrals added yet</p>
    }

</div>





