@{
    Layout = "_CounsellorLayout";
}
<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Referral Card</h5>
            <p>Patient : Oyama Sodo</p>
            <p>Referral Date: 22/08/23</p>
            <p>Appointment Date: 24/08/23</p>
            <p>Department Referred To: Vaccination</p>
            <p>Comments: Patient needs attention ASAP</p>
           @* <button>
                <a class="nav-link text-dark" asp-controller="Counseller" asp-action="Booking">Click here...</a>
            </button>*@
        </div>
    </div>
</div>