@using Microsoft.AspNetCore.Identity
@using Qumbu_Community_Health_Care_Center.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Qumbu Community Health Care by MAATH developers</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/css/css/animate.css">

	<link rel="stylesheet" href="~/css/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">

	<link rel="stylesheet" href="~/css/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/css/css/jquery.timepicker.css">

	<link rel="stylesheet" href="~/css/css/flaticon.css">
	<link rel="stylesheet" href="~/css/css/style.css">
</head>
<body>


	<div class="wrap">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-3 mb-md-0 mb-4 d-flex align-items-center">
					<a class="navbar-brand" href="index.html">Qumbu Community Healthcare</a>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-8 mb-md-0 mb-3">
							<div class="top-wrap d-flex">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-location-arrow"></span></div>
								<div class="text"><span>Address</span><span>29 Xaba Street, Qumbu, 5180</span></div>
							</div>
						</div>
						<div class="col">
							<div class="top-wrap d-flex">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-phone"></span></div>
								<div class="text"><span>Call us</span><span>(+27) 40 985 4521</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">About us</a></li>
					<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Team</a></li>
					<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Services</a></li>
					<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Departments</a></li>


				</ul>
				<ul class="navbar-nav mr-auto">
					@if (SignInManager.IsSignedIn(User))
					{

						<li class="nav-item">
							<a id="manage" class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @UserManager.GetUserName(User)</a>
						</li>
						<li class="nav-item">
							    |
						</li>
						<li class="nav-item">
							<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
								<button id="logout" type="submit" class="btn btn-secondary">Logout</button>
							</form>
						</li>




					}
					else
					{
						@*<li class="nav-item ">
					<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button id="register" type="submit" class="nav-link btn btn-link text-dark">Register</button>
					</form>
					<a class="nav-link text-primary" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
					</li>*@
						<li class="nav-item">
							<a class="nav-link text-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-primary" id="login" asp-area="Identity" asp-page="/Account/Register">Register</a>

						</li>

					}
				</ul>

			</div>
		</div>
	</nav>

	<div class="container mt-3">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

</body>

</html>
