@using Microsoft.AspNetCore.Identity
@using Qumbu_Community_Health_Care_Center.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Qumbu Community Health Care by MAATH developers</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	@*for icon*@
	<link rel="icon" href="~/_Images/favicon.ico" type="image/png" />
	<link rel="stylesheet" href="~/css/css/animate.css">

	<link rel="stylesheet" href="~/css/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">

	<link rel="stylesheet" href="~/css/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/css/css/jquery.timepicker.css">

	<link rel="stylesheet" href="~/css/css/flaticon.css">
	<link rel="stylesheet" href="~/css/css/style.css">
	
		<div class="logo_section bg-light">
			<a href="index.html"><img class="img-responsive" src="~/_Images/1.png" alt="#" /></a>
		</div>
	
	
</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">About us</a></li>
					<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Team</a></li>
					<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Services</a></li>
					<li class="nav-item active"><a asp-controller="Home" asp-action="Landing2" class="nav-link">Departments</a></li>


				</ul>
				<ul class="order-last nav-item">
					
						<partial name="_LoginPartial" />

					
				</ul>

			</div>
		</div>
	</nav>


	<div class="container-fluid mt-3">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

</body>

</html>
