@using Microsoft.AspNetCore.Identity
@using Qumbu_Community_Health_Care_Center.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@*for icon*@
<link rel="icon" href="~/_Images/favicon.ico" type="image/png" />


	
	<ul class="navbar-nav">
		@if (SignInManager.IsSignedIn(User))
		{

			<li class="nav-item mr-1">
				<a id="manage" class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @UserManager.GetUserName(User)!</a>
			</li>
			<li class="nav-item">
				<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button id="logout" type="submit" class="btn btn-secondary">Logout</button>
				</form>
			</li>




		}
		else
		{
			@*<li class="nav-item ">
		<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
		<button id="register" type="submit" class="nav-link btn btn-link text-dark">Register</button>
		</form>
		<a class="nav-link text-primary" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>*@
			<li class="nav-item">
				<a class="btn btn-secondary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-secondary" id="login" asp-area="Identity" asp-page="/Account/Register">Register</a>

			</li>

		}
	</ul>
