@{
    Layout = "_Walk-in-Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Consultation Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-4">
        <h2 class="text-left">CONSULTATION</h2>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label for="complaints" class="font-weight-bold">Complaints:</label>
                <textarea class="form-control" id="complaints" placeholder="Write notes for patient's complaints here for Doctor to see and read" rows="4"></textarea>
            </div>
        </div>
        <hr>

        <div class="row mt-3">
            <div class="col-md-12">
                <label for="healthAdvice" class="font-weight-bold">Health Advice:</label>
                <textarea class="form-control" id="healthAdvice" placeholder="Write notes for patient's health advice given to patient" rows="4"></textarea>
            </div>
        </div>
        <hr>

        <div class="row mt-3">
            <div class="col-md-12">
                <label for="treatmentFeedback" class="font-weight-bold">Treatment Feedback:</label>
                <textarea class="form-control" id="treatmentFeedback" placeholder="Write notes on the effect of the treatment according to the patient" rows="4"></textarea>
            </div>
        </div>
        <hr>

        <div class="form-row mt-3">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>

</body>
</html>
