@model Qumbu_Community_Health_Care_Center.Models.Appointment;
@{
	ViewData["Title"] = "CreateAppointment";
	Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}

<form method="post" asp-action="CreateAppointment">
	<div class="border p-3">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group row">
			<h2 class="text-black-50 pe-lg-5 t" >Make your Appointment</h2>
		</div>
		<br />
		<div class="form-group row">
			<div class="col-8 offset-2 row">
				<div class="col">
					<input type="submit" class="btn btn-info w-50" value="Book Now" />
				</div>
				<div class="col">
					<a asp-action="ViewAppointment" class="btn btn-info w-50">View</a>
				</div>
			</div>
		</div>
		<div class="row justify- ">
			<div class="col-12 ">
				<div class="form-group align-content-center align-items-center">
					<div class="col-4 ">
						<label asp-for="FirstName"></label>
						<input asp-for="FirstName" class="form-control" />
						<span asp-validation-for="FirstName" class="text-danger"></span>
					</div>
					<div class="col-4">
						<label asp-for="LastName"></label>
						<input asp-for="LastName" class="form-control" />
						<span asp-validation-for="LastName" class="text-danger"></span>
					</div>
					<div class="col-4">
						<label asp-for="Date"></label>
						<input asp-for="Date" class="form-control" />
						<span asp-validation-for="Date" class="text-danger"></span>
					</div>
					<div class="col-4">
						<label asp-for="Time"></label>
						<input asp-for="Time" class="form-control" />
						<span asp-validation-for="Time" class="text-danger"></span>
					</div>
					<@*div class="col-4">
						<label asp-for="Notes"></label>
						<input asp-for="Notes" class="form-control" />
						<span asp-validation-for="Notes" class="text-danger"></span>
					</div>
				</div>*@
				
			</div>
		</div>
	</div>
</form>

<style>
	body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
		background-color: #f5f5f5;
	}

	.container {
		max-width: 1000px;
		margin: 80px auto;
		padding: 50px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}

	h2 {
		text-align: center;
	}

	form {
		display: flex;
		flex-direction: column;
	}

	label {
		margin-top: 10px;
	}

	input[type="text"],
	input[type="text"],
	input[type="date"],
	input[type="time"],
	textarea {
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		font-size: 14px;
	}

	textarea {
		resize: vertical;
	}

	button {
		background-color: #007bff;
		color: #fff;
		border: none;
		padding: 10px 20px;
		border-radius: 3px;
		cursor: pointer;
		font-size: 16px;
	}

		button:hover {
			background-color: #0056b3;
		}
</style>
