@{
    Layout = "_FamilyPlanLayout";
}
@if (User.IsInRole("Admin"))
{
    <h1>Admin</h1>
}
@if (User.IsInRole("Nurse"))
{
   
    <h1>Nurse</h1>
}
@if (User.IsInRole("Doctor"))
{
    <h1>Doctor</h1>
}
@if (User.IsInRole("Patient"))
{
    <div class="mt-2 p-3 bg-white text-black rounded">
        <h1>
           
            <a href="index.html"><img class="img-responsive" width="500" height="110" src="~/_Images/welcome.png" alt="#" /></a>
            <a href="index.html"><img class="img-responsive" width="250" height="140" src="~/_Images/Fnurse.png" alt="#" /></a>

        </h1>
         @*<p class="align-text-bottom"><span>YOU WANNA KNOW MORE ABOUT BIRTH CONTROLS? CLICK ON CONTRACEPTIVE!!</span></p><span class="auto-type"></span>*@

    </div>



    <head>
        <style>
            .image-container {
                display: flex;
                justify-content: space-between;
            }

            .image {
                width: 50%;
            }
        </style>
    </head>
    <body>
        <div class="image-container">
            <a href="index.html"><img class="img-responsive" width="800" height="430" src="~/_Images/logo/FDashaboard.jpg" alt="#" /></a>

            <a href="index.html"><img class="img-responsive" width="700" height="430" src="~/_Images/logo/FDashboard1.png" alt="#" /></a>

        </div>
    </body>


    <script>
        var typed = new typed(".auto-type", {
            strings: ["YOU WANNA KNOW MORE ABOUT BIRTH CONTROLS?....", " CLICK ON CONTRACEPTIVE!!"]
                typesSpeed: 30
                backSpeed: 130
                loop = true
        })
    </script>
    <script>
        $('.carousel').carousel()
    </script>
}
@if (User.IsInRole("Unit-Manager"))
{
    <h1>Manager</h1>
}
@if (User.IsInRole("Counsellor"))
{
    <h1>Counsellor</h1>
}