
@{
    ViewData["Title"] = "VievContraceptives";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}

<div class="row row-cols-1 row-cols-md-2 g-4">
<!-- Card 1 -->
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pills</h5>
                <span class="align-middle"><img class="img-responsive" width="230" src="~/_Images/pill_.jpg" alt="#" /></span>
                <p class="card-text">How to use pills</p>
                <p> Take one pill per day</p>
            </div>
        </div>
    </div>

    @*!-- Card 1 -->*@
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Injection</h5>
                <span class="align-middle"><img class="img-responsive" width="230" src="~/_Images/logo/Injection.jpg" alt="#" />
                                           <img class="img-responsive" width="210" src="~/_Images/logo/Injection 2.jpg" alt="#" />
                </span>
                <p class="card-text">How to use pills</p>
                <p> Take one pill per day</p>
            </div>
        </div>
    </div>
    @*!-- Card 1 -->*@
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">loops</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="230" src="~/_Images/logo/loop1.jpg" alt="#" />
                    <img class="img-responsive" width="290" src="~/_Images/logo/loop2.jpg" alt="#" />
                </span>
                <p class="card-text">How to use pills</p>
                <p> Take one pill per day</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Implant</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="230" src="~/_Images/logo/implant1.jpg" alt="#" />
                    <img class="img-responsive" width="230" src="~/_Images/logo/Injection 2.jpg" alt="#" />
                </span>
                <p class="card-text">How to use pills</p>
                <p> Take one pill per day</p>
            </div>
        </div>
    </div>
</div>
