
@{
    ViewData["Title"] = "VievContraceptives";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}


<div class="row row-cols-1 row-cols-md-3 g-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img class="img-responsive" width="180" src="~/_Images/pill_.jpg" alt="#" />
    </button>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="card-text"><small class="text-muted">Take 1 pill every day for 3 weeks in a row. Then don't take any pills on week 4.You'll get your period during the fourth week while you aren't taking any pills. It's important to take every pill in a 21-day pack because there are no reminder pills.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    @*!-- Card 1 -->*@
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img class="img-responsive" width="180" src="~/_Images/pill_.jpg" alt="#" />
    </button>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="card-text"><small class="text-muted">Take 1 pill every day for 3 weeks in a row. Then don't take any pills on week 4.You'll get your period during the fourth week while you aren't taking any pills. It's important to take every pill in a 21-day pack because there are no reminder pills.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    @*!-- Card 1 -->*@
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img class="img-responsive" width="180" src="~/_Images/pill_.jpg" alt="#" />
    </button>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="card-text"><small class="text-muted">Take 1 pill every day for 3 weeks in a row. Then don't take any pills on week 4.You'll get your period during the fourth week while you aren't taking any pills. It's important to take every pill in a 21-day pack because there are no reminder pills.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    @*!-- Card 1 -->*@
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img class="img-responsive" width="180" src="~/_Images/pill_.jpg" alt="#" />
    </button>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="card-text"><small class="text-muted">Take 1 pill every day for 3 weeks in a row. Then don't take any pills on week 4.You'll get your period during the fourth week while you aren't taking any pills. It's important to take every pill in a 21-day pack because there are no reminder pills.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    @*!-- Card 1 -->*@
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img class="img-responsive" width="180" src="~/_Images/pill_.jpg" alt="#" />
    </button>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="card-text"><small class="text-muted">Take 1 pill every day for 3 weeks in a row. Then don't take any pills on week 4.You'll get your period during the fourth week while you aren't taking any pills. It's important to take every pill in a 21-day pack because there are no reminder pills.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>>
    @*!-- Card 1 -->*@
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img class="img-responsive" width="180" src="~/_Images/pill_.jpg" alt="#" />
    </button>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="card-text"><small class="text-muted">Take 1 pill every day for 3 weeks in a row. Then don't take any pills on week 4.You'll get your period during the fourth week while you aren't taking any pills. It's important to take every pill in a 21-day pack because there are no reminder pills.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>>
</div>
