
@{
    ViewData["Title"] = "VievContraceptives";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}

<div class="row row-cols-1 row-cols-md-3 g-2">
<!-- Card 1 -->
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pills</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="220"  src="~/_Images/pill_.jpg" alt="#" />
                    <img class="img-responsive" width="220" src="~/_Images/pills.1.jpg" alt="#" />
                    
                 
                </span>
                @*<p class="card-text">How to use pills?</p>*@
                <p class="card-text"><small class="text-muted">Take 1 pill every day for 3 weeks in a row. Then don't take any pills on week 4.You'll get your period during the fourth week while you aren't taking any pills. It's important to take every pill in a 21-day pack because there are no reminder pills.</small></p>
            </div>
        </div>
    </div>

    @*!-- Card 1 -->*@
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Injection</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="190" src="~/_Images/logo/Injection.jpg" alt="#" />
                    <img class="img-responsive" width="200" src="~/_Images/logo/Injection 2.jpg" alt="#" />
                   
                  
                </span>
                @*<p class="card-text">How the the injection works?</p>*@
                <p class="card-text">
                    <small class="text-muted">
                        A doctor or nurse will inject Depo into the muscle tissue in your bottom. For continued contraceptive protection this should be repeated every month.
                        The injection works by preventing the ovaries from releasing an egg each month. This helps to prevent the sperm from reaching the egg..
                    </small>
                </p>
            </div>
        </div>
    </div>
    @*!-- Card 1 -->*@
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">loops</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="200" src="~/_Images/logo/loop1.jpg" alt="#" />
                    <img class="img-responsive" width="220" src="~/_Images/logo/loop2.jpg" alt="#" />
                    
                   
                </span>
                @*<p class="card-text">How the loop works</p>*@
                <p class="card-text"><small class="text-muted">hormonal IUDs are put in during your period, they start working right away. Otherwise, this type may take up to 7 days to be effective. Use a back-up method of birth control, such as condoms, during that time.</small></p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Implant</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="180" src="~/_Images/logo/implant1.jpg" alt="#" />
                    <img class="img-responsive" width="190" src="~/_Images/implant2.jpg" alt="#" />
                   
                </span>
                @*<p class="card-text">How the implant works?</p>*@
                <p class="card-text"><small class="text-muted">The contraceptive implant is a thin, flexible rod about 4cm long. It's inserted under the skin of your upper arm by a professional. The implant stops the release of an egg from the ovary by slowly releasing progestogen into your body. Progestogen also thickens the cervical mucus and thins the womb lining.</small></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Condom</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="200" src="~/_Images/Condom.jpg" alt="#" />
                    <img class="img-responsive" width="200" src="~/_Images/Condom.jpg" alt="#" />


                </span>
                @*<p class="card-text">How the implant works?</p>*@
                <p class="card-text"><small class="text-muted">Condoms are a barrier contraceptive made from latex rubber, a synthetic rubber called polyisoprene, a very thin plastic called polyurethane, or a synthetic material called nitrile.</small></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vigana Ring</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="200" src="~/_Images/Viganal ring.jpg" alt="#" />
                    <img class="img-responsive" width="200" src="~/_Images/Viganal ring.jpg" alt="#" />


                </span>
                @*<p class="card-text">How the implant works?</p>*@
                <p class="card-text"><small class="text-muted">A vaginal ring works by stopping your ovaries from releasing an egg each month. It also thickens the fluid around the cervix (opening to the uterus or womb). This helps to prevent the sperm from entering.</small></p>
            </div>
        </div>
    </div>
</div>
