
@{
    ViewData["Title"] = "VievContraceptives";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}

<div class="row row-cols-1 row-cols-md-2 g-2">
<!-- Card 1 -->
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pills</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="140"  src="~/_Images/pill_.jpg" alt="#" />
                    <img class="img-responsive" width="150"  src="~/_Images/pills.1.jpg" alt="#" />
                 
                </span>
                <p class="card-text">How to use pills?</p>
                <p class="card-text"><small class="text-muted">Take 1 pill every day for 21 days (3 weeks) in a row. Then don't take any pills for seven days (week 4). You'll get your period during the fourth week while you aren't taking any pills. It's important to take every pill in a 21-day pack because there are no reminder (hormone-free) pills.</small></p>
            </div>
        </div>
    </div>

    @*!-- Card 1 -->*@
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Injection</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="140" src="~/_Images/logo/Injection.jpg" alt="#" />
                    <img class="img-responsive" width="130" src="~/_Images/logo/Injection 2.jpg" alt="#" />
                  
                </span>
                <p class="card-text">How the the injection works?</p>
                <p class="card-text">
                    <small class="text-muted">
                        A doctor or nurse will inject Depo into the muscle tissue in your arm or bottom. For continued contraceptive protection this should be repeated every 12 to 14 weeks.
                        The injection works by preventing the ovaries from releasing an egg each month. This helps to prevent the sperm from reaching the egg..
                    </small>
                </p>
            </div>
        </div>
    </div>
    @*!-- Card 1 -->*@
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">loops</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="150" src="~/_Images/logo/loop1.jpg" alt="#" />
                    <img class="img-responsive" width="170" src="~/_Images/logo/loop2.jpg" alt="#" />
                   
                </span>
                <p class="card-text">How the loop works</p>
                <p class="card-text"><small class="text-muted">hormonal IUDs are put in during your period, they start working right away. Otherwise, this type may take up to 7 days to be effective. Use a back-up method of birth control, such as condoms, during that time.</small></p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Implant</h5>
                <span class="align-middle">
                    <img class="img-responsive" width="150" src="~/_Images/logo/implant1.jpg" alt="#" />
                    <img class="img-responsive" width="170" src="~/_Images/implant2.jpg" alt="#" />
                   
                </span>
                <p class="card-text">How the implant works?</p>
                <p class="card-text"><small class="text-muted">The contraceptive implant is a thin, flexible rod about 4cm long. It's inserted under the skin of your upper arm by a professional. The implant stops the release of an egg from the ovary by slowly releasing progestogen into your body. Progestogen also thickens the cervical mucus and thins the womb lining.</small></p>
            </div>
        </div>
    </div>
</div>
