
@{
    ViewData["Title"] = "VievContraceptives";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}

<!-- Card 1 -->
<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Pills</h5>
            <span class="align-middle"><img class="img-responsive" width="230" src="~/_Images/pill_.jpg" alt="#" /></span>
            <p class="card-text">How to use pills</p>
            <p> Take one pill per day</p>
        </div>
    </div>
</div>

@*!-- Card 1 -->*@
<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Injection</h5>
            <span class="align-middle"><img class="img-responsive" width="230" src="~/_Images/logo/Injection.jpg" alt="#" />
                                       <img class="img-responsive" width="230" src="~/_Images/logo/Injection 2.jpg" alt="#" />
            </span>
            <p class="card-text">How to use pills</p>
            <p> Take one pill per day</p>
        </div>
    </div>
</div>