@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.Feedbacks>
@{
    ViewData["Title"] = "ViewFeedback";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of Appointments</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="FamilyPlan" asp-action="CreateFeedback" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>

                    <th>
                        Name
                    </th>
                    <th>
                       Surname
                    </th>
                    <th>
                        Side Effects
                    </th>
                    <th>
                        Message
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var fed in Model)
                {
                    <tr>

                        <td width="30%">@fed.Name</td>
                        <td width="30%">@fed.Surname</td>
                        <td width="30%">@fed.experience</td>
                        <td width="30%">@fed.Description</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No Appointments added yet</p>
    }

</div>