@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.PrenatalEducation>

@{
    Layout = "/Views/Shared/_PreNatalCareLayout.cshtml";
}



<div class="container">
        <br />
        <br />
    <h1 class="display-4">Prenatal Education</h1>
    <br/>
    <div class="text-end">
        <a asp-controller="PrenatalCare" asp-action="CreateEducation" class="text-primary">Add Prenatal Education</a>
    </div>
    <br />
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-md-4">
                <div class="custom-container">
                    <img src="@Url.Content("~/UploadedImages/" + item.FileName)" height="140px" width="140px" />
                    <div class="card-body">
                        <h3 class="card-title">@item.Title</h3>
                        <p class="card-text">@item.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">@item.Author</small>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>