@{
    Layout = "_PreNatalCareLayout";
}
@if (User.IsInRole("Admin"))
{
    <h1>Admin</h1>
}
@if (User.IsInRole("Nurse"))
{
   @* <h1>Nurse</h1>*@
}
@if (User.IsInRole("Doctor"))
{
    <h1>Doctor</h1>
}
@if (User.IsInRole("Patient"))
{
    @*<h1>Patient</h1>*@
}
@if (User.IsInRole("Unit-Manager"))
{
    <h1>Manager</h1>
}
@if (User.IsInRole("Counsellor"))
{
    <h1>Counsellor</h1>
}