@model Qumbu_Community_Health_Care_Center.Models.PrenatalEducation

@{
    ViewData["Title"] = "CreateEducation";
    Layout = "/Views/Shared/_LayoutPrenatal.cshtml";
}

<br />
<div class="row ">
    <h1 class="display-4">Edit Prenatal Education</h1>
</div>
<br />

@*<hr />*@
<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdatePrenatalEducation" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                            <option value="">Select</option>
                            <option>Introduction to Baby Basics and Body Vocabulary</option>
                            <option>Health after the birth</option>
                            <option>Nutrition and Building Healthy Eating Habits</option>
                            <option>Exercises to keep you feet and active</option>
                            <option>Pregnancy health and wellbeing</option>
                            <option>Breastfeeding</option>
                            <option>Safe sleeping and settling.</option>
                            <option>Safe sleeping and settling.</option>
                            <option>Pain relief during labour</option>
                            <option>The role of the support person</option>
                            <option>The different stages of labour</option>
                            <option>The signs of labour and when to call the hospital</option>
                </select>   
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
            </div>*@
            <div class="mb-3">
                <label asp-for="CoverImage" class="control-label"></label>
                <input type="file" asp-for="CoverImage" class="form-control" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="ContentPdf" class="control-label"></label>
                <input type="file" asp-for="ContentPdf" class="form-control" />
                <span asp-validation-for="ContentPdf" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-controller="PrenatalCare" asp-action="IndexEducation" class="btn btn-danger" style="width:150px">Back to List</a>

            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="IndexEducation">Back to List</a>
</div>*@

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@