@* @model IEnumerable<SuperHeroes_Class_Example.Models.SuperHeroes>
@{
    Layout = "_Walk-in-Layout";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of SuperHeroes</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="SuperHero" asp-action="Create" class="btn btn-primary">Create New Item</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        SuperHeroName
                    </th>
                    <th>
                        Powers
                    </th>
                    <th>
                        Age
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var hero in Model)
                {
                    <tr>
                        <td width="30%">@hero.SuperHeroNames</td>
                        <td width="30%">@hero.Powers</td>
                        <td width="30%">@hero.Age</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No SuperHeroes created yet</p>
    }

</div>





















 *@