@model Qumbu_Community_Health_Care_Center.Models.Appointment
@{
    Layout = "_Landing2";

}
<h4>Add Appointments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="custom-control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="custom-control-label"></label>
                <select id="PurposeDropdown" asp-for="Purpose" class="form-control" id="validationName" required>
                    <option value="Select" class="bg-opacity-50">Select</option>
                    <option value="Vaccination">Vaccination</option>
                    <option value="Pre-Natal">Pre-Natal</option>
                    <option value="Family-Planning">Family Plan</option>
                    <option value="Counselling">Counselling</option>
                </select>
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_Time" class="custom-control-label"></label>
                <input asp-for="Date_Time" class="form-control" />
                <span asp-validation-for="Date_Time" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Book"/>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back</a>
</div>

